.vscode/
.env 
__pycache__/         
cache/ 
core/__pycache__/
__pycache__/ 
logs/ 
pip/
output/
extract/__pycache__/
/.pytest_cache
/.github
/venv
/core/__pycache__
/pip
docs
docs/api
docs/api/models
docs/core
.aider*
.env
cache.json
metrics_history.json
